@tailwind base;
@tailwind components;
@tailwind utilities;

.separator {
  width: 5px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0.5rem 0;
}

.algorithmButton {
  color: white;
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin: 0.5rem 0;
  cursor: pointer;
}

.algorithmButton:hover {
  color: rgb(212, 212, 212);
}

.currentAlgorithmButton {
  color: rgb(241, 94, 255);
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin: 0.5rem 0;
  cursor: pointer;
}